[defaults]
remote_user=ubuntu
sudo=True
sudo_user=root
host_key_checking=False
hostfile=galera.hosts
# Setting forks should be based on your system. The ansible defaults to 5,
# the ansible-rpc-lxc assumes that you have a system that can support
# openstack, thus it has been conservitivly been set to 15
forks = 15

gathering = smart

# SSH timeout
timeout = 10

[ssh_connection]
pipelining = True
